/* Bütün h1 elementlərini seçir */
h1 {
    background-color: violet;
}

/* id="paragraph" olan elementləri seçir */
#paragraph {
    color: blue;
}

/* Bütün elementləri seçir */
*{
    border: 2px solid green;
}

/* class="text" olan elementləri seçir */
.text {
    color: red;
}

/* Yalnız class="text" atributuna sahib <p> elementlərinə təsir edəcək*/
p.text {
    background-color: turquoise;
}

/*target atributu ilə bütün <a> elementlərini seçir*/
[target]{
    color: blue;
}

/*target atributu "_parent" value-suna = olan <a> elementlərini seçir*/
[target="_parent"]{
    color: red;
}

/*<div> elementinin birbaşa uşaqları olan hər <p> elementi seçir*/
.division > p{
    font-size: 30px;
}

/*division-dan dərhal sonra gələn <p> elementini seçir*/
.division + p{
    background-color: chartreuse;
}

/*Bütün <div> və <p> elementlərini seçir*/
div, p {
    background-color: gold;
}

/*Qarşısında <p> elementi olan bütün <ul> elementləri seçir*/
p ~ ul {
    background-color: cadetblue;
}

/*Aktiv linki seçir.*/
a:active{
    color: red;
}

/*Yoxlanılmış <input> elementlərini seçir*/
input:checked{
    outline: 4px solid red;
}

/*d="division"-un ilk övladı olan <p> elementini seçir*/
#division p:first-child{
    background-color: antiquewhite;
}

/*İlk hərfi böyük göstərir*/
p::first-line{
    font-weight: bold;
}

/*Paragrafın ilk sətrinə təsir edir*/
p::first-line {
    font-style: italic;
}

/*<h1>-in arxasında məzmun əlavə edir*/
h1::after {
    content: " 🌟";
}

/*<h1>-in əvvəlində məzmun əlavə edir*/
h1::before {
    content: "✨ ";
}

/*Cüt sıradakı `<li>` elementlərinə təsir edir*/
li:nth-child(even) {
    background-color: lightblue;
}

/*Tək sıradakı `<li>` elementlərinə təsir edir*/
li:nth-child(odd) {
    background-color: lightyellow;
}