@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

ul,
ol {
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

body {
    font-size: 1.6rem;
    color: var(--main-text-color);
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-text-color: #fff;
}

.container {
    max-width: 132rem;
    margin: 0 auto;
}